.ContainerColStyle {
  padding: 30px;
}

.eb-details-imageStyle {
  width: inherit !important;
  border-radius: 23px;
}

.productFontStyle {
  font-family: Poppins;
  font-size: 45px !important;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.022em;
  text-align: left;
  color: #000000;
}

.eb-productDetailsColorStyle {
  color: #444444;
}

.productDescriptionTitle {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.006em;
  text-align: left;
  color: #000000;
}

.productsDescriptionStyle {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.006em;
  text-align: left;
  color: #444444;
}

.quantityRowStyle {
  width: 35%;
}

.quantityBtnStyle {
  border-radius: 10px;
  background-color: #ffffff;
  color: black;
  border: none;
}

.ProdDetailsAddToCardBtnStyle {
  background: #a855f7;
  border: 1px solid #a855f7;
}

.additionalInfoStyle {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: #000000;
}
