.eb-product-catalog-page .p-dataview-header {
  padding: 0;
}
.filterByStyle {
  font-family: Poppins;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
}

.eb-sort-dropdownStyle {
  border: 2px solid #ced4da;
}

.eb-grid-CardContainerStyle {
  width: 285px !important;
  height: 344px;
  display: block;
  border-radius: 16px;
  border: 1px #d9d9da;
  margin: 5px;
}
